<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}{% endblock css %}
</head>
<body>

{% block content %}{% endblock content %}
{% block extra_js %}{% endblock extra_js %}
<form action="" method="post">
    <h1>{{ request.user.login }}</h1>
    <input type="text" name="text">
    <button type="submit">Отправить</button>
</form>
<script>
        const user_id = 1   
        const request_id = new Date().getTime()
        const ws = new WebSocket(`ws://127.0.0.1:8000/ws/notify/${user_id}/`);
        
        ws.onopen = () => {
          
            console.log('connect')
            ws.send(JSON.stringify({
                action: "subscribe_to_main_center_activity",
                request_id: request_id,

            }))

            ws.send(JSON.stringify({
                action: "subscribe_to_centers_activity",
                request_id: request_id,

            }))

    }
        ws.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)   
            }

</script>
</body>
</html>
